/* App.css */

.fullscreen-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:dimgray; /* Replace with your desired background color */
    z-index: -1; /* Place the background behind other content */
  }
  